body {
  background-color: #172b41;
  font-family: neoxis;
  font-size: i;
  font-weight: normal;
  margin-left: 7%;
}
a:link,a:visited,a:active {
  text-decoration: none;
  color: #82a1b2;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
  color: #82a1b2;
  font-weight: normal;
}
table {
  border-spacing: 8px;
}
td:first-child {
  font-weight: normal;
  color: #95b47b 
}
td:nth-child(2) {
  font-weight: normal;
  color: #8f72a1;
}
